@charset "UTF-8";
/* lien vers code h1 -> h4*/
body {
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.6rem;
  text-align: center;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
}

h3 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

h4 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
}

/* lien vers les codes variables - mixins - keyframes */
@keyframes essai {
  0% {
    width: 100%;
  }
  100% {
    width: 60%;
  }
}
/* animation spinner page d'accueil*/
@keyframes loading-spinner {
  0% {
    transform: rotate(-720deg);
    color: #9356DC;
  }
  15% {
    opacity: 1;
  }
  33% {
    color: #FF79DA;
    opacity: 1;
  }
  66% {
    color: #99E2D0;
    opacity: 1;
  }
  90% {
    color: 1;
  }
  100% {
    transform: rotate(360deg);
    color: #9356DC;
    opacity: 0;
  }
}
/* lien vers le code de configuration du spinner au démarrage de la page accueil*/
.container-page .chargement {
  position: relative;
  display: flex;
  justify-content: center;
  top: 300px;
}
.container-page .chargement__spinner {
  position: absolute;
  font-size: 10rem;
  color: #9356DC;
  animation: loading-spinner 3000ms 100ms linear;
  opacity: 0;
}

/* page d'accueil */
/* lien vers le container et header principal de toutes les pages du site*/
/* code du container principal de toutes les pages du site */
.container-page {
  display: flex;
  flex-direction: column;
}

/* code des header de toutes les pages du site avec et sans flèche de retour*/
.header-page {
  display: flex;
  align-items: baseline;
}
.header-page__icone-arrow {
  margin: 0 0px 0 20px;
  color: black;
}
.header-page__title {
  width: 100%;
  font-weight: bolder;
}

.container-encadrement {
  padding-bottom: 30px;
  background-color: #f6f6f6;
}
.container-encadrement__position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: 200%;
  background-color: #f6f6f6;
}
.container-encadrement__lieu {
  margin-left: 10px;
  font-weight: bold;
}
.container-encadrement__texte {
  font-weight: bolder;
  margin: 40px 30px 10px 30px;
  text-align: center;
}
.container-encadrement__ligne2 {
  color: rgba(0, 0, 0, 0.8);
  margin: 10px;
  font-size: 1.05rem;
  text-align: center;
  opacity: 0.8;
}
.container-encadrement__button {
  text-align: center;
  margin: 40px;
  transform: scale(1);
  transition: transform 400ms;
}
.container-encadrement__button:active {
  transform: scale(1.1);
}

/* lien vers le code du bouton Explorer de la page d'accueil*/
/* code du bouton Explorer de la page d'accueil*/
.button1 {
  padding: 15px 20px 20px 20px;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  color: #ffff;
  text-align: center;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356dc 100%);
}
.button1:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/* code du bouton de la rubrique fonctionnement de la page d'accueil*/
.button2 {
  display: flex;
  margin: 15px 10px;
  border-radius: 15px;
  align-items: baseline;
  justify-content: flex-start;
  padding: 15px 0;
  background-color: #f6f6f6;
  box-shadow: 10px 5px 10px #eaeaea;
}
.button2:hover {
  box-shadow: 10px 5px 10px #f6f6f6;
  cursor: pointer;
  background-color: #eaeaea;
}
.button2:hover .button2__icone {
  color: #9356DC;
}
.button2__bulle {
  background-color: #9356DC;
  padding: 3px 7px;
  border-radius: 50%;
  color: #ffff;
  font-size: 0.8rem;
  margin: 5px 20px 5px -5px;
}
.button2__icone {
  color: rgba(0, 0, 0, 0.5);
}
.button2__text {
  margin: 5px 20px;
  font-weight: bold;
}

.container-fonctionnement {
  margin: 20px 10px 50px 10px;
}
.container-fonctionnement__title {
  text-align: left;
  margin-left: 20px;
}

/* lien vers le code du bouton de la rubrique fonctionnement de la page d'accueil*/
/* code du bouton Explorer de la page d'accueil*/
.button1 {
  padding: 15px 20px 20px 20px;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  color: #ffff;
  text-align: center;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356dc 100%);
}
.button1:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/* code du bouton de la rubrique fonctionnement de la page d'accueil*/
.button2 {
  display: flex;
  margin: 15px 10px;
  border-radius: 15px;
  align-items: baseline;
  justify-content: flex-start;
  padding: 15px 0;
  background-color: #f6f6f6;
  box-shadow: 10px 5px 10px #eaeaea;
}
.button2:hover {
  box-shadow: 10px 5px 10px #f6f6f6;
  cursor: pointer;
  background-color: #eaeaea;
}
.button2:hover .button2__icone {
  color: #9356DC;
}
.button2__bulle {
  background-color: #9356DC;
  padding: 3px 7px;
  border-radius: 50%;
  color: #ffff;
  font-size: 0.8rem;
  margin: 5px 20px 5px -5px;
}
.button2__icone {
  color: rgba(0, 0, 0, 0.5);
}
.button2__text {
  margin: 5px 20px;
  font-weight: bold;
}

.container-restaurants {
  padding: 30px 0;
  width: 100%;
  background-color: #f6f6f6;
}
.container-restaurants__title {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.restaurants__card {
  margin: 0px 20px 20px 20px;
  background-color: #ffff;
  border-radius: 20px;
  position: relative;
}
.restaurants__image {
  width: 100%;
  max-height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurants__image:hover {
  opacity: 0.5;
}
.restaurants__texte {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants__descriptif {
  display: block;
}
.restaurants__name {
  margin: 10px 0 0 10px;
}
.restaurants__name, .restaurants a {
  color: black;
}
.restaurants__ville {
  margin: 10px 0 10px 10px;
}
.restaurants__heart {
  position: relative;
}
.restaurants__heart:hover {
  cursor: pointer;
}
.restaurants__icone-heart {
  margin-right: 20px;
  font-size: 24px;
  color: #9d9d9d;
}
.restaurants__icone-heart-plein {
  font-size: 24px;
  color: #9356DC;
  position: absolute;
  opacity: 0;
  transition: opacity 1000ms;
}
.restaurants__heart:hover .restaurants__icone-heart {
  opacity: 0;
  transition: opacity 1000ms;
}
.restaurants__heart:hover .restaurants__icone-heart-plein {
  opacity: 1;
  transition: opacity 2000ms;
}
.restaurants__nouveau {
  background-color: #99E2D0;
  position: absolute;
  top: 0px;
  right: 20px;
  color: #008766;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

/* lien vers le code du footer de toutes les pages*/
/* footer commun à toutes les pages du site */
.footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 20px 30px 20px;
  color: #ffff;
}
.footer__title {
  display: flex;
  flex-direction: column;
}
.footer__title p {
  font-family: "Shrikhand";
  margin-top: 0;
}
.footer a {
  color: #ffff;
  padding: 4px 0;
  font-size: 0.8rem;
}
.footer__proposer {
  display: flex;
}
.footer__devenir {
  display: flex;
}
.footer__icones {
  font-size: 0.8rem;
  padding: 4px 10px 4px 0;
}

/* pages restaurants  */
.image-resto {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.carte-pageresto {
  background-color: #eaeaea;
  border-radius: 20px;
  margin: -40px 0 0 0;
}
.carte-pageresto__title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.carte-pageresto__title h2 {
  margin: 30px 0 -10px 10px;
  font-family: "Shrikhand", cursive;
}
.carte-pageresto__heart {
  margin-right: 20px;
  font-size: 1.5rem;
  position: relative;
}
.carte-pageresto__icone-heart {
  margin-right: 20px;
  font-size: 24px;
  color: #9d9d9d;
}
.carte-pageresto__icone-heart-plein {
  font-size: 24px;
  color: #9356DC;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  transition: opacity 1000ms;
}
.carte-pageresto__heart:hover .carte-pageresto__icone-heart {
  opacity: 0;
  transition: opacity 1000ms;
}
.carte-pageresto__heart:hover .carte-pageresto__icone-heart-plein {
  transition: opacity 1000ms;
  opacity: 1;
}
.carte-pageresto__repas-souligne {
  display: flex;
  margin-top: 20px;
}
.carte-pageresto__repas-souligne p {
  font-size: 1rem;
}
.carte-pageresto__repas-souligne-4lettres {
  border-bottom: 3px solid #99E2D0;
  margin-left: 10px;
}

.repas-description {
  display: flex;
  background-color: #ffff;
  border-radius: 20px;
  margin: 0 10px;
  position: relative;
}
.repas-description:hover .box {
  transform: scaleX(1);
}
.repas-description:hover .box .box__icone-check {
  transform: rotate(-360deg);
}
.repas-description:hover .container-description-repas {
  animation: essai 500ms 0ms;
  width: 60%;
}
.repas-description:hover .container-description-repas .container-prix {
  width: 20%;
}
.repas-description1 {
  animation: defilement 1500ms 100ms;
}
.repas-description2 {
  animation: defilement 1500ms 200ms;
}
.repas-description3 {
  animation: defilement 1500ms 300ms;
}
.repas-description4 {
  animation: defilement 1500ms 300ms;
}
.repas-description__ligne1 {
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.repas-description__ligne2 {
  display: flex;
  justify-content: space-between;
}
.repas-description__ligne2-description {
  padding-left: 10px;
  margin-top: 5px;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.repas-description__ligne2-prix {
  font-weight: bold;
  padding-right: 10px;
  margin-top: 5px;
}

.container-description-repas {
  height: 100%;
  width: 80%;
}

.container-prix {
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  transform: translateX(0%);
  transform-origin: right;
  transition: all 500ms 500ms;
}

.box {
  position: absolute;
  right: 0px;
  width: 20%;
  height: 100%;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 300ms;
}
.box__icone-check {
  color: #ffff;
  font-size: 1.3rem;
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}

@keyframes defilement {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.commander {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.commander__bouton {
  background: linear-gradient(to bottom, #FF79DA 0%, #9356dc 100%);
  padding: 12px 50px;
  border-radius: 50px;
  color: #ffff;
  text-decoration: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.commander__bouton:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/* code page contact */
.header-intro {
  background-color: #f6f6f6;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-intro__mail {
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
.header-intro__message {
  margin-top: 10px;
  margin-left: -100px;
}
.header-intro__message p {
  margin: 0;
}
.header-intro__question {
  margin-left: -60px;
}
.header-intro__question p {
  margin: 0;
}
.header-intro__suggestion {
  margin-left: 0px;
}
.header-intro__suggestion p {
  margin: 0;
}
.header-intro__recommandation {
  margin-left: 80px;
}
.header-intro__recommandation p {
  margin: 0;
}
.header-intro__ecrivez {
  margin: 10px 0px 10px 80px;
  font-weight: bolder;
}

.mail-contact form {
  display: block;
}

.mail-contact {
  background-color: #eaeaea;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.mail-contact__ligne1 {
  margin-bottom: 0;
}
.mail-contact__ligne2 {
  margin-top: 0;
}
.mail-contact__email {
  margin-bottom: 10px;
}
.mail-contact__email input {
  border-radius: 10px;
  transition: background-color 500ms;
}
.mail-contact__email input:not(:focus):invalid {
  border: 2px solid blue;
  background-color: red;
}
.mail-contact__textarea textarea {
  border-radius: 10px;
}
.mail-contact__input input {
  border-radius: 10px;
}

@media screen and (min-width: 720px) {
  h1 {
    font-family: "Shrikhand", cursive;
    font-size: 3rem;
    text-align: center;
  }

  h2 {
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
  }

  h3 {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
  }

  h4 {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
  }

  p {
    font-family: Roboto, sans-serif;
    font-size: 0.9rem;
  }

  .header-page__title {
    margin: 15px 0;
  }
  .header-page__icone-arrow {
    font-size: 2rem;
  }

  .container-encadrement__position {
    align-items: baseline;
  }
  .container-encadrement__position i {
    font-size: 1.5rem;
  }
  .container-encadrement__lieu p {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .container-encadrement__main-menu {
    margin-top: 20px;
  }
  .container-encadrement__main-explorer-texte {
    font-size: 1.2rem;
  }

  .container-fonctionnement {
    margin: 10px;
  }
  .container-fonctionnement__title {
    text-align: center;
    font-size: 1.8rem;
    margin: 10px 0;
  }

  .fonctionnement {
    display: flex;
    justify-content: space-around;
    align-content: stretch;
  }
  .fonctionnement__text {
    text-align: center;
  }
  .fonctionnement__icone {
    text-align: center;
  }

  .button2 {
    width: 30%;
  }

  .restaurants {
    padding: 0 0 30px 0;
    display: flex;
  }
  .restaurants__card {
    width: 25%;
  }
  .restaurants__image {
    height: 120px;
  }
  .restaurants__title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    object-position: top;
  }

  .footer {
    text-align: center;
  }
  .footer p {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .footer__proposer {
    justify-content: center;
  }
  .footer__devenir {
    justify-content: center;
  }
  .footer__icones {
    font-size: 1rem;
  }
  .footer a {
    font-size: 1rem;
  }

  .image-pageresto {
    width: 100%;
    height: 300px;
    object-position: top;
  }

  .carte-pageresto__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .repas-description1 {
    width: 48%;
    margin: 5px;
  }
  .repas-description2 {
    width: 48%;
    margin: 5px;
  }
  .repas-description3 {
    width: 48%;
    margin: 5px;
  }
  .repas-description4 {
    width: 48%;
    margin: 5px;
  }

  .header-intro {
    flex-direction: row;
    padding: 10px;
    margin: 0;
    align-items: baseline;
    justify-content: center;
  }
  .header-intro__message {
    margin: 0 10px;
  }
  .header-intro__question {
    margin: 0 10px;
  }
  .header-intro__suggestion {
    margin: 0 10px;
  }
  .header-intro__recommandation {
    margin: 0 10px;
  }
}
@media screen and (min-width: 1050px) {
  .carte-pageresto__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .repas-description1 {
    width: 30%;
    margin: 5px;
  }
  .repas-description2 {
    width: 30%;
    margin: 5px;
  }
  .repas-description3 {
    width: 30%;
    margin: 5px;
  }
  .repas-description4 {
    width: 30%;
    margin: 5px;
  }
}
@media screen and (min-width: 1050px) {
  .restaurants__image {
    height: 160px;
  }
}

/*# sourceMappingURL=style.css.map */
