@import "./base/ecritures";

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";

/* code page accueil */

.container-accueil{
    display: flex;
    flex-direction: column;
    & .chargement{
        position: relative;
        display: flex;
        justify-content: center;
        top: 300px;
        &__spinner{
            position: absolute;
            font-size: 10rem;
            color: $color-primary;
            animation: loading-spinner 3000ms 100ms linear;
            opacity: 0;
        }
    }
}
.header{
    width: auto;
    &__title{
        font-weight: bolder;
    }
    &__encadrement{
        padding-bottom: 30px;
        @include background-light;
    }
    &__position{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-size: 200%;
            @include background-light;
    }
    &__lieu{
            margin-left: 10px;
            font-weight: bold;
    }
    &__main-menu {
            font-weight: bolder;
            margin: 40px 30px 10px 30px;
            text-align: center;
    }
    &__main-decouvrez{
                color: rgb(0, 0, 0, 0.8) ;
                margin: 10px;
                font-size: 1.05rem;
                text-align: center;
                opacity: 0.8;
    }
    &__main-explorer{
              text-align: center;
              margin: 40px;
              transform: scale(1);
              transition: transform 400ms;
              &:active{
                  transform: scale(1.1);
              }
    }
    &__main-explorer-texte{
                padding: 15px 20px 20px 20px;
                border-radius: 50px;
                box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
                color: #ffff;
                text-align: center;
                @include background-gradient;
                &:hover{
                    opacity: 0.8;
                    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
                }
  
    }
}
.main{
    margin: 20px 10px 50px 10px;
    &__title{
        text-align: left;
        margin-left: 20px;
    }
    &__button{
        display: flex;
        margin: 15px 10px;
        border-radius: 15px;
        align-items: baseline;
        justify-content: flex-start;
        padding: 15px 0;
        @include background-light;
        @include box-shadow-dark;
        &:hover{
        box-shadow: 10px 5px 10px $color-light;
        cursor: pointer;
        @include background-dark;
            & .main__icone{
                color: $color-primary;
            }
        }
    }
    &__bulle{
            background-color: $color-primary;
            padding: 3px 7px;
            border-radius: 50%;
            color: #ffff;
            font-size: 0.8rem;
            margin: 5px 20px 5px -5px;
    }
    &__icone{
           color: rgb(0, 0, 0, 0.5);
    }
    &__text{
            margin:5px 20px;
            font-weight: bold;
    }
}
.restaurants{
    padding: 30px 0;
    width: 100%;
    @include background-light;
    &__title{
        text-align: left;
        margin-left: 20px;
        margin-bottom: 20px;
        font-weight: bolder;
    }
    &__card{
        margin: 0px 20px 20px 20px;
        background-color: #ffff;
        border-radius: 20px;
        position: relative;
    }
    &__image{
            width: 100%;
            max-height: 200px;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
            &:hover{
            opacity: 0.5;
            }
    }
    &__texte{
            display: flex;
            justify-content: space-between;
            align-items: center;
    }
    &__descriptif{
            display: block;
    }
    &__name {
               margin: 10px 0 0 10px;
    }
    &__name, a{
        color: black;
    }
    &__ville {
                margin: 10px 0 10px 10px;
    }
    &__heart{
                position: relative;
    }
    &__heart:hover{
                cursor: pointer;
    }
    &__icone-heart{
                margin-right: 20px;
                font-size: 24px;
                color: #9d9d9d;
    }
    &__icone-heart-plein{
                font-size: 24px;
                color: $color-primary;
                position:absolute;
                opacity: 0;
                transition: opacity 1000ms;
    }
    &__heart:hover .restaurants__icone-heart{
                opacity: 0;
                transition: opacity 1000ms;
    }
    &__heart:hover .restaurants__icone-heart-plein{
                opacity: 1;
                transition: opacity 2000ms;
    }                
    &__nouveau{
                background-color: $color-tertiary;
                position: absolute;
                top: 0px;
                right: 20px;
                color: #008766;
                font-weight: bold;
                padding: 5px 10px;
                border-radius: 5px;
    }
} 
.footer{
    background-color: rgb(0,0,0,0.8);
    padding: 20px 20px 30px 20px;
    color: #ffff;
    &__text{
        display: flex;
        flex-direction: column;
        & p{
            font-family: "Shrikhand";
            margin-top: 0;            
        }
    }
    & a{
        color: #ffff;
        padding: 4px 0;
        font-size: 0.8rem;        
    }
    &__proposer{
            display: flex;
    }
    &__devenir{
            display: flex;
    }
    &__icone-couverts{
                font-size: 0.8rem;
                padding: 4px 10px 4px 0;
    }
    &__icone-mains{
                font-size: 0.8rem;
                padding: 4px 10px 4px 0;
    }
}

/*  code pages menu */

.container-pageresto{
    display: flex;
    flex-direction: column;
}
.header-pageresto{
    display: flex;
    align-items: baseline;
    &__icone-arrow{
        margin: 0 0px 0 20px ; 
        color: black;  
    }
    &__title{
        width: 100%;
        margin-bottom: 5px;
    }
}
.image-resto{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
.carte-pageresto{
    background-color: #eaeaea;
    border-radius: 20px;
    margin: -40px 0 0 0;
    &__title{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        & h2{
            margin: 30px 0 -10px 10px;
            font-family: 'Shrikhand', cursive;
        }
    }
    &__heart{
        margin-right: 20px;
        font-size: 1.5rem;
        position: relative;
    }
    &__icone-heart{
        margin-right: 20px;
        font-size: 24px;
        color: #9d9d9d;
    }
    &__icone-heart-plein{
        font-size: 24px;
        color: $color-primary;
        position:absolute;
        bottom: 0px;
        opacity: 0;
        transition: opacity 1000ms;
    }
    &__heart:hover .carte-pageresto__icone-heart{
        opacity: 0;
        transition: opacity 1000ms;
    }
    &__heart:hover .carte-pageresto__icone-heart-plein{
        transition: opacity 1000ms;
        opacity: 1;
    }                
    &__entrées-souligne{
        display: flex;
        margin-top: 20px;
        & p{
            font-size: 1rem;
        }
    }
    &__entrées-souligne-4lettres{
        border-bottom: 3px solid #99E2D0;
        margin-left: 10px;
    }
    &__entrées-description1{
        @include background-description-repas;
        @include coche;
        @include prix;
        animation: defilement 1500ms 100ms;
    }
    &__entrées-description2{
        @include background-description-repas;
        @include coche;
        @include prix;
        animation: defilement 1500ms 200ms;
    }    
    &__entrées-description3{
        @include background-description-repas;
        @include coche;
        @include prix;
        animation: defilement 1500ms 300ms;
    }
    &__entrées-description4{
        @include background-description-repas;
        @include coche;
        @include prix;
        animation: defilement 1500ms 300ms;
    }
    &__entrées-description-ligne1{
        font-weight: bold;
        margin-bottom: 0;
        padding-left: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
   }
   &__entrées-description-ligne2{
    display: flex;
    justify-content: space-between;
   }
   &__entrées-description-ligne2-description{
    padding-left: 10px;
    margin-top: 5px;
    font-size: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
   }
   &__entrées-description-ligne2-prix{
    font-weight: bold;
    padding-right: 10px;
    margin-top: 5px;
    }
} 
.container-description-repas{
    height: 100%;
    width: 80%;
}
.container-prix{
    width: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translateX(0%);
    transform-origin: right;
    transition: all 500ms 500ms;
}

.box{
    position: absolute;
    right: 0px;
    width: 20%;
    height: 100%;
    background-color: $color-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 300ms;
    &__icone-check{
        color: #ffff;
        font-size: 1.3rem;
        transform: rotate(0deg);
        transition: transform 300ms ease-in-out;
    }
}
@keyframes defilement{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.commander{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    &__bouton{
        background: linear-gradient(to bottom, #FF79DA 0%, #9356dc 100%);
        padding: 12px 50px;
        border-radius: 50px;
        color: #ffff;
        text-decoration: none;
        box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
        &:hover{
            opacity: 0.8;
            box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
        }
    }
}

/* code page contact */

.header-intro{
    background-color: $color-light;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__mail{
        font-weight: bolder;
        display: flex;
        justify-content: center;
    }
    &__message{
        margin-top: 10px;
        margin-left: -100px;
        & p{
            margin: 0;
        }
    }
    &__question{
        margin-left: -60px;
        & p{
            margin: 0;
        }
    }
    &__suggestion{
        margin-left: 0px;
        & p{
            margin: 0;
        }
    }
    &__recommandation{
        margin-left: 80px;
        & p{
            margin: 0;
        }
    }
    &__ecrivez{
        margin: 10px 0px 10px 80px;
        font-weight: bolder;
    }
}
.mail-contact form{
    display: block;
}
.mail-contact{
    background-color: $color-dark;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    &__ligne1{
        margin-bottom: 0;
    }
    &__ligne2{
        margin-top: 0;
    }
    &__email{
        margin-bottom: 10px;
        & input{
            border-radius: 10px;
            transition: background-color 500ms;
            &:not(:focus):invalid{
            border: 2px solid blue;
            background-color: red;
            }
        }
    }
    &__textarea{
        & textarea{
        border-radius: 10px;
        }
    }
    &__input{
        & input{
        border-radius: 10px;
        }
    }
}
@media screen and (min-width: 720px){

    h1{
        font-family: 'Shrikhand', cursive;
        font-size: 3rem;
        text-align: center;
      }
    h2{
        font-family: Roboto, sans-serif;
        font-size: 1.4rem;
    }
    h3{
        font-family: Roboto, sans-serif;
        font-size: 1rem;
    }
    h4{
        font-family: Roboto, sans-serif;
        font-size: 1rem;  
    }
    p{
        font-family: Roboto, sans-serif;
        font-size: 0.9rem;
    }

    .header{
        &__title{
            margin: 20px 0;
        }
        &__position{
            align-items: baseline;
            & i{
                font-size: 1.5rem;
            }
        }
        &__lieu p{
            font-size: 1.2rem;
            margin-bottom: 0;
        }
        &__main-menu{
            margin-top: 20px;
        }
        &__main-explorer-texte{
            font-size: 1.2rem;
        }
    }
    .header-pageresto{
        &__title{
            margin-top: 15px;
        }
    }
    .main{
        margin: 10px;
        &__title{
            text-align: center;
            font-size: 1.8rem;
            margin: 10px 0;
        }
        &__container{
            display: flex;
            justify-content: space-around;
            align-content: stretch;
        }
        &__text{
            text-align: center;
        }
        &__icone{
            text-align: center;
        }
        &__button{
            width: 30%;
        }
    }
    .restaurants{
        padding: 0 0 30px 0;
        &__container{
            display: flex;
        }
        &__card{
            width: 25%;
        }
        &__image{
            height: 120px;
        }
        &__title{
            text-align: center;
            font-size: 1.8rem;
            margin-bottom: 30px;
            object-position: top;
        }
    }
    .footer{
        &__text {
            text-align: center;
            & p{
                font-size: 2rem;
                margin-bottom: 20px;
            }
        }
        &__proposer{
            justify-content: center;
        }
        &__devenir{
            justify-content: center;
        }
        &__icone-couverts{
            font-size: 1rem;
        }
        &__icone-mains{
            font-size: 1rem;
        }
        a{
            font-size: 1rem;
        }
    }  
    .header-pageresto{
        &__icone-arrow{
            font-size: 2rem;
        }
    }
    .image-pageresto{
        width: 100%;
        height: 300px;
        object-position: top;
    }
    .carte-pageresto{
        &__card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
        &__entrées-description1{
            width: 48%;
            margin: 5px;
        }
        &__entrées-description2{
            width: 48%;
            margin: 5px;
        }
        &__entrées-description3{
            width: 48%;
            margin: 5px;
        }
        &__entrées-description4{
            width: 48%;
            margin: 5px;
        }
    }
    .header-intro{
        flex-direction: row;
        padding: 10px;
        margin: 0;
        align-items: baseline;
        justify-content: center;
        &__message{
            margin: 0 10px;
        }
        &__question{
            margin: 0 10px;
        }
        &__suggestion{
            margin: 0 10px;
        }
        &__recommandation{
            margin: 0 10px;
        }
    }
}
@media screen and (min-width: 850px){
    .carte-pageresto{
        &__card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
        &__entrées-description1{
            width: 30%;
            margin: 5px;
        }
        &__entrées-description2{
            width: 30%;
            margin: 5px;
        }
        &__entrées-description3{
            width: 30%;
            margin: 5px;
        }
        &__entrées-description4{
            width: 30%;
            margin: 5px;
        }
    }
}
@media screen and (min-width: 850px){
    .restaurants{
        &__image{
            height: 160px;
        }
    }
}