body{
    margin: 0;
}
h1{
    font-family: 'Shrikhand', cursive;
    font-size: 1.6rem;
    text-align: center;
  }
h2{
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
}
h3{
    font-family: Roboto, sans-serif;
    font-size: 1rem;
}
h4{
    font-family: Roboto, sans-serif;
    font-size: 1rem;  
}
p{
    font-family: Roboto, sans-serif;
    font-size: 0.9rem;
}
a{
    text-decoration: none;
    font-family: Roboto, sans-serif;
}


@media screen and (min-width: 720px){

    h1{
        font-size: 3rem;
      }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 1rem;  
    }
    p{
        font-size: 1rem;
    }
}