/* animation spinner page d'accueil*/

@keyframes loading-spinner {

    0%{
        transform: rotate(0turn);
        color: $color-primary;
    }
    10%{
        opacity: 1;
    }
    33%{
        color: $color-secondary;
    }
    66%{
        color: $color-tertiary;
    }
    90%{
        color: $color-primary;
        opacity: 1;
    }
    100%{
        transform: rotate(3turn);
        opacity: 0;
    }
}

/* animation defilement régulier des boutons repas des pages restaurants*/

@keyframes defilement{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes prix-gauche {
    0%{
        width: 80%;
    }
    100%{
        width: 60%;
    }
}