@mixin background-dark {
    background-color: $color-dark;
}
@mixin background-light {
    background-color: $color-light;
}
@mixin background-gradient {
    background: linear-gradient(to bottom, $color-secondary 0%, $color-primary 100%);
}
@mixin box-shadow-light {
    box-shadow: 10px 5px 10px $color-light;
}
@mixin box-shadow-dark {
    box-shadow: 10px 5px 10px $color-dark;    
}
@mixin background-description-repas {
    display: flex;
    background-color: #ffff;
    border-radius: 20px;
    margin: 0 10px;
    position: relative;
}
@mixin coche {
    &:hover{
        & .box{
            transform: scaleX(1);
            & .box{
                &__icone-check{
                transform: rotate(-360deg);
                }
            }
        }
    }
}
@mixin prix {
    &:hover{
        & .container-description-repas{
            animation: prix-gauche 500ms 0ms;
            width: 60%;
        }
    }   
}


